@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Simple ASP.NET application</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Users</h2>
                <p>
                    By clicking this button you can check the users list.
                </p>
                @Html.ActionLink("User >>", "Index", "User", new { }, new { @class = "btn btn-primary btn-block" })
            </div>
            <div class="col-md-6">
                <h2>Files</h2>
                <p>
                    By clicking this button you can check the files list.
                </p>
                @Html.ActionLink("File >>", "Index", "File", new { }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>

    
</div>